.welcome-side {
  width: 100%;
  min-height: 100vh;
  padding: 7%;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: whitesmoke;
  background-image: url("../../images/bg-light-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__quote {
    font-size: 0.9em;
    margin: 0 0 50px 0;
    line-height: 1.5;
    font-weight: 300;
    opacity: 0.8;
  }

  &__details {
    flex-basis: 100%;
  }
  .clock {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    &__welcome {
      font-size: 1em;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 4px;
      flex-basis: 100%;
    }
    &__time {
      font-size: 6.5em;
      font-weight: 700;
      margin: 10px 0;
    }
    &__timezone {
      align-self: center;
      font-size: 1em;
      font-weight: 300;
    }
    &__location {
      flex-basis: 100%;
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}
