.welcome-side {
  padding: 7%;
  display: flex;
  max-width: 1200px;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: space-between;
  color: whitesmoke;
  font-size: 1rem;
  @include breakpoint(venus) {
    font-size: 1.3rem;
  }
  @include breakpoint(jupiter) {
    font-size: 1.6rem;
  }
  @include breakpoint(neptune) {
    font-size: 2rem;
    padding: 4% 7%;
  }
  .quote {
    font-size: 0.9em;
    line-height: 1.5;
    font-weight: 300;
    margin: 0 0 70px 0;
    height: 150px;
    width: 100%;
    opacity: 0.8;
    @include breakpoint(venus) {
      font-size: 0.7em;
      max-width: 400px;
    }
    @include breakpoint(jupiter) {
      margin: 0 0 150px 0;
      font-size: 0.7em;
      max-width: 500px;
    }
    @include breakpoint(neptune) {
      max-width: 650px;
    }
    &__author {
      font-weight: 700;
    }
  }

  &__details {
    flex-basis: 100%;
  }
  .clock {
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
    align-content: center;
    &__info {
      font-size: 0.65em;
      text-transform: uppercase;
      letter-spacing: 4px;
      flex-basis: 100%;
    }
    &__time {
      font-size: 6.5em;
      font-weight: 700;
    }
    &__timezone {
      align-self: center;
      font-size: 1em;
      font-weight: 300;
    }
    &__location {
      flex-basis: 100%;
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}
